# pixi environments
.pixi
*.egg-info

## internal files
.hydro
__pycache__/
dist
src/rtmf6/_version.py
build/**
tests/models/**
scratch/**
tests/advect/models/**
tests/_old/**
.hidden
.internal
tests/advect
tests/advect_reactive_*

## MODFLOW output files
*.dis.grb
*.hds
*.cbb
*.lst
*.obs.csv
*.ucn
